body{
  text-align: center;
  margin: 0%;
}
.nav{
  text-align: left;
  background-color: #343940;
  color: white;
}
.title{
  height: 150px;
  background-color: #E9ECEF;
}
.subtitle{
  color: #989FA5;
}


